.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  margin-left: 500px;
  font-size: 20px;
  background-color: antiquewhite;
  width: 900px;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.contenedor p{
  width: 1000px;
  border: solid 1px rgb(85, 85, 85);
  text-align: center;
  width: 850px;
  border-radius: 10px;
}

.contenedor button{
  width: auto;
  height: auto;
  font-size: 19px;
  background-color: rgba(117, 179, 234, 0.553);
  border-radius: 10px;
}

.contenedor button:hover{
  width: auto;
  height: auto;
  font-size: 19px;
  background-color: rgba(94, 103, 113, 0.553);
  border-radius: 10px;
}
